<div class="wrapper">
  <h3>Components communication</h3><br>
  <ol class="menu">
    <li><a routerLink="/input">Input/Output ✅</a></li>
    <li><a routerLink="/template">#Template ✅</a></li>
    <li><a routerLink="/viewchild">ViewChildren/ViewChild ✅</a></li>
    <li><a routerLink="/content">ContentChildren/ContentChild ✅</a></li>
    <li><a routerLink="/service">Service ✅</a></li>
    <li><a routerLink="/di">DependencyInjection ✅</a></li>
  </ol>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
